body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px lightgray;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #909090;
    }



.landing {
    background-color: #f6f6f6 !important;
}

.navbar {
    border-bottom: solid 1px lightgrey;

}
.navbar-collapse.collapse.in {
    display: block !important;
}

.navbar a {
  color: #3F3D56;
  font-weight:500;
}
#navlogo{
    width:15%;
}
.icons {
    width: 7%;
    float: left;
    margin-right: 6%;
}

.btn {
    background-color: #018387;
    width: 50%;
    color: white;
    font-size: 1em;
    -moz-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
}
.btn:hover{
    color:lightgrey;
}
#toptext {
    display: flex;
    align-items: center;
}

#mutedatbottom {
    position: absolute;
    bottom: 0;
    color: #3F3D56;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;..");
}

#section1 {
    margin-top: -15%;
    padding: 10%;
}

    #section1 h1 {
        color: #3F3D56;
        font-weight: bold;
        line-height: 48px;
        margin: 24px 0;
    }

    #section1 h4 {
        color: #3F3D56;
        font-weight: 500;
        line-height: 30px;
        margin: 24px 0;
    }

.sub {
    color: #3F3D56;
    font-weight: 500;
    line-height: 30px;
    margin: 24px 0;
}

h3, h4 {
    color: #3F3D56;
    font-weight: 600;
    line-height: 30px;
    margin: 24px 0;
}

#section1 .subheading {
    color: #3F3D56;
    font-size: 1.25em;
    line-height: 30px;
    margin: 24px 0;
}

#section1 .row {
    margin-top: 10%;
}

.how-img {
    float: none;
    margin: auto;
}
.how-img3 {
    float: none;
    margin: auto;
}
.section2 {
    background-color: #E6E6E6 !important;
}

.section2 {
    margin-top: -5%;
    padding: 10%;
    padding-top: 5%;
}

    .section2 h1 {
        color: #3F3D56;
        font-weight: bold;
        line-height: 48px;
        margin: 24px 0;
    }

    .section2 .subheading {
        color: #3F3D56;
        font-size: 1.25em;
        line-height: 30px;
        margin: 24px 0;
    }

.how-img2 {
    margin-right: -15%;
}

.footers a {
    color: #3F3D56;
}

.footers p {
    color: #3F3D56;
}

.footers ul {
    line-height: 30px;
}

#social-fb:hover {
    color: #3B5998;
    transition: all .001s;
}

#social-tw:hover {
    color: #4099FF;
    transition: all .001s;
}

#social-gp:hover {
    color: #d34836;
    transition: all .001s;
}

#social-em:hover {
    color: #f39c12;
    transition: all .001s;
}

.footers {
    background-color: #E6E6E6 !important;
    border-top: 1px solid lightgrey;
    color: #3F3D56;
}
a {
    color: #018387;
}
    a:hover {
        color: #3F3D56;
    }

@media (max-width:629px) {
    .how-img, .how-img2 {
        display: none;
    }
} 